//-共通
primary = #FDA7A6
secondary = #FF7F69

red = #FFA59D
orange = #FFD99E
yellow = #FEFF9D
green = #CCFF9E
lightblue = #9EC9FE
darkblue = #B19DFF
purple = #EA9CFF

//-背景
background_A = #FEF991
background_B = #FEFEF5
