doctype html
html(lang="ja")
  head
    title 桃星愛花ファンサイト
    //-meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")
    block meta
    //-CSS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
    link(rel="stylesheet" href="./css/loader.css" type="text/css")
    link(rel="stylesheet" href="./css/fadein.css" type="text/css")
    link(rel="stylesheet" href="./css/button.css" type="text/css")
    block css
    //-JS
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
    script(src="./js/custom.js" type="text/javascript")
    block script
    //-font
    link(href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,800,900&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous")
    block font
  body(style="background: #fefef5;")
    div.container-fluid
      //-Header
      img.img-fluid.fadein(src="./img/header.jpg")
      //-Initial
      div.row.SM.mt-5(style="font-size:30px") あ行
      //-Content
      div.row.mt-4(style="position:relative; height:50px")
        //-Term
        div.col-lg-2.col-12.SM(style="font-size:2em;") いただきも
        //-Read
        div.col-lg-10.col-12.SM.align-bottom.mb-5.mb-lg-0(style="font-size:1.2em") (読み)あんらくてい
      div.row.mt-lg-3.mt-4
        //-Description
        div.col-12.SM.my-2(style="font-size:1.3em")
          |桃星愛花が愛してやまない焼肉チェーン店。マスコットキャラのあんらくんが放送を見に来てくれることも。
      hr
